/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 19rem;
    height: 34rem;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1.5rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1rem;
    box-shadow: 1rem 2.5rem 3rem hsl(218, 54%, 9%), -1rem 2.5rem 3rem hsl(218, 54%, 9%), 3rem 4rem hsl(216, 54%, 11%), -3rem -4rem hsl(216, 54%, 11%);  /* hsl(218, 54%, 11%)*/
}

.bg-image {
    border-radius: 0.7rem;
    width: 100%;
    height: auto;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 1.4rem;
}

p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    padding-top: 1.3rem;
    font-size: 18px;
    line-height: 1.7rem;
}

.ether-row {
    display: flex;
    padding: 1.3rem 0;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.ether {
    color: hsl(178, 100%, 50%);
    padding-left: .4rem;
    font-weight: 400;
}

.clock {
    margin-left: auto;
    padding-right: .4rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.sm-text {
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.user {
    display: flex;
    flex: 0 1 auto;
    padding-top: 1.2rem;
    align-items: center;
}

.avatar-img {
    max-width: 2rem;
    border: 1px solid white;
    border-radius: 50%;
}

.credit {
    padding-left: 1rem;
}

span {
    color: hsl(0, 0%, 100%);
}

.teal-hover:hover, bg-hover {
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}

.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(185, 100%, 40%);
    border-radius: 0.7rem;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.img-container:hover .overlay {
    opacity: 0.4;
}